body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    background-color: #222;
    color: #fff
}

header,
nav,
main,
footer {
    color: #333;
}

header {
    padding: 1rem;
    background-color: #e8f2fb;
}

header div {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0;
}

h1 {
    font-size: 1.5rem;
    margin-top: 0;
}

img.logo {}

.navigation {
    display: none;
    background-color: #004997;
    color: #fff;
}

.navigation.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    right: 1rem;
}

button#menu {
    width: 48px;
    height: 48px;
    appearance: none;
    border: none;
    background-color: #004997;
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    line-height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "Ⓧ";
}

.navigation a {
    color: #e8f2fb;
    padding: 1rem;
    font-size: 1.25rem;
    border-bottom: 2px solid #002a57;
    border-top: 1px solid #0162c9;
    text-decoration: none;
}

.navigation a:hover,
.navigation a.active {
    color: #fff;
    background-color: #002a57;
}




main {
    padding: 1rem;
    background-color: #fff;

}

main h1 {
    padding: 0 0 0.5rem 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}







footer {
    margin: 0;
    padding: 1rem;
    background-color: #e8f2fb;
}

.address,
.social {
    margin: 0 0 1rem 0;
}

.social {
    display: flex;
    flex-direction: row;
}

footer h4,
footer p {
    margin: 0;
    line-height: 1.4em;
}

.social a {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #afd6f8;
    display: inline-block;
    border-radius: 0.2rem;
}

.social a img {
    width: 100%;
}

.social a:hover {
    background-color: #fff;
    border-color: #0162c9;
}