body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    background-color: #666;
    color: #fff
}

header,
nav,
main,
footer {
    color: #333;
}

header {
    padding: 1rem;
    background-color: #e8f2fb;
    position: relative;
    z-index: 1;
}

header>div {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0;
}

div.chamber {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: bold;
}

img.logo {}

.navigation {
    display: none;
    background-color: #004997;
    color: #fff;
}

.navigation.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    right: 1rem;
}

button#menu {
    width: 48px;
    height: 48px;
    appearance: none;
    border: none;
    background-color: #004997;
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    line-height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "Ⓧ";
}

.navigation a {
    color: #e8f2fb;
    padding: 1rem;
    font-size: 1.25rem;
    border-bottom: 2px solid #002a57;
    border-top: 1px solid #0162c9;
    text-decoration: none;
}

.navigation a:hover,
.navigation a.active {
    color: #fff;
    background-color: #002a57;
}




main {
    padding: 1rem;
    background-color: #fff;
}

main h1 {
    padding: 0 0 0.5rem 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

main div#members img {
    display: block;
    width: 128px;
}

#members {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
}

button img {
    width: 24px;
    display: block;
    margin: 0 auto;
}

button.grid,
button.list {
    appearance: none;
    background-color: #e8f2fb;
    border: 1px solid #004997;
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
    line-height: 2em;
    margin-right: 0.5rem;
}

button.list:hover,
button.grid:hover {
    background-color: #fff;
}




#members article {
    border: 1px solid #e8f2fb;
    padding: 1rem;
    /* min-width: 286px; */
}

#members.grid article {
    box-shadow: 0px 4px 12px #ddd;
}

#members article h2,
#members article p,
#members article a {
    font-size: 1.25rem;
}

#members.list {
    display: block;
}

#members.grid article img {
    display: block;
    margin: 0 auto 1rem auto;
    width: 8rem;
}

#members.grid article h2,
#members.grid article p,
#members.grid article a {
    display: block;
    margin: 0 0 0.5rem 0;
    text-align: center;
}

#members.list article img {
    display: none;
    float: right;
    margin-left: 1rem;
    width: 60px;
}

#members.list article:nth-child(odd) {
    background-color: #e8f2fb;
}

#members.list article {
    padding: 1rem;
}

#members.list article h2,
#members.list article p,
#members.list article a {
    display: block;
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
}

#members article a {
    color: #0162c9;
}

#members article p:nth-child(4) {
    font-weight: bold;
    color: #0162c9;
}

#members article p:nth-child(3),
#members article p:nth-child(6) {
    font-size: 1rem;
    color: #666;
}

#members article p:nth-child(7) {
    font-size: 0.7rem;
    color: #666;
    text-align: left;
    line-height: 1.4em;
}







footer {
    margin: 0;
    padding: 1rem;
    background-color: #e8f2fb;
}

.address,
.social {
    margin: 0 0 1rem 0;
}

.social {
    display: flex;
    flex-direction: row;
}

footer h2,
footer p {
    margin: 0;
    line-height: 1.4em;
}

footer .address h2 {
    color: #004997;
    font-size: 1.25rem;
}

footer .address a {
    color: #0162c9;
}

.social a {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #afd6f8;
    display: inline-block;
    border-radius: 0.2rem;
}

.social a img {
    width: 100%;
}

.social a:hover {
    background-color: #fff;
    border-color: #0162c9;
}

footer .about {}

footer .about h2 {
    color: #0162c9;
    font-size: 1.25rem;
}



body.home .hero img {
    width: 100%;
}

body.home .hero a.join {
    display: block;
    font-size: 1.5rem;
    appearance: none;
    border: none;
    padding: 1rem;
    background-color: #0162c9;
    color: #fff;
    position: relative;
    float: left;
    margin-top: -5rem;
    margin-left: 1rem;
    text-decoration: none;
}

body.home .hero a.join:hover {
    color: #004997;
    background-color: #fff;
}

body.home h1 {
    color: #0162c9;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

body.home .events-weather>div {
    background-color: #fff;
    box-shadow: 0px 4px 12px #ddd;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

body.home .events-weather>div:first-child {
    margin-top: 0;
}

body.home .events-weather>div:last-child {
    padding-bottom: 2rem;
}

body.home .events-weather div h2 {
    margin: 0;
    padding: 0.75rem 1rem;
    background-color: #0162c9;
    color: #fff;
    font-weight: 400;
}

body.home .events-weather>div p,
body.home .events-weather>div ul {
    margin: 1rem;
    font-size: 1.25rem;
}

body.home .events-weather .weather-current p {
    margin: 1rem 1rem 0 1rem;
}

body.home .events-weather .weather-current p span {
    font-weight: bold;
}

body.home .events-weather .weather-current figure {
    margin-left: 1rem;
    font-size: 1.25em;
    margin: 0.5rem 1rem 0 1rem;
}

body.home .weather-current img#weather-icon {
    width: 10rem;
}

body.home .events-weather .weather-current figure figcaption {
    text-transform: capitalize;
}

body.home .weather-forecast #forecast h3 {
    margin: 1rem 1rem 0 1rem;
    font-size: 1.25rem;
    clear: both;
    color: #004997;
}

body.home .weather-forecast #forecast img {
    width: 5rem;
    margin: 0 0.5rem 0 0.5rem;
    float: left;
}

body.home .weather-forecast #forecast p:nth-child(3) {
    font-weight: bold;
}

body.home .weather-forecast #forecast p {
    margin: 0 1rem 0 1rem;
    text-transform: capitalize;
}

body.home #members {
    clear: both;
}

label,
legend {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0 0 0.25rem 0;
    box-sizing: border-box;
    color: #666;
    font-size: 0.85rem;
}

input[type=text],
textarea,
input[type=tel],
input[type=email] {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #000;
}

fieldset {
    appearance: none;
    border: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

fieldset label {
    font-size: 1rem;
    color: #000;
}

input[type=submit] {
    display: block;
    padding: 0.75rem 1rem 0.5rem 1rem;
    font-size: 1.25rem;
    margin: 0;
    background-color: #0162c9;
    color: #fff;
    border: 0;
    border-radius: 0.25rem;
    transition: all 0.5s;
}

input[type=submit]:hover {
    background-color: #004997;
}

input:required {
    border-left: 4px solid rgb(179, 0, 0);
}

input:required:valid {
    border-left: 4px solid rgb(1, 130, 1);
}

body.join form {
    padding: 1rem;
    border: 1px solid #afd6f8;
    background-color: #e8f2fb;
    border-radius: 0.25rem;
}

body.join h1 {
    margin: 0 0 1rem 0;
}

body.join h2 {
    margin-top: 0;
    color: #0162c9;
}

body.join #levels div.cards div {
    border: 1px solid #0162c9;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: #afd6f8;
    border-radius: 0.25rem;
}

body.join #levels div.cards div p {
    text-align: left;
    margin: 1rem;
}

body.join #levels h2 {
    margin-top: 1rem;
    color: #004997;
}

body.join #levels div h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

body.join #levels div div button {
    border-radius: 0.25rem;
}

body.join #levels div div.np {
    background: linear-gradient(105deg, #fff, #afd6f8);
    border: 1px solid #afd6f8;
    background-size: 100% 100%;
    background-position: left center;
    transition: all 0.5s;
    animation: slide-down 1s ease-out backwards;
    animation-delay: 0s;
}

body.join #levels div div.np:hover {
    background-size: 200% 200%;
    background-position: right center;
}

body.join #levels div div.np h3,
body.join #levels div div.np button {
    color: #004997;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
}

body.join #levels div div.np button:hover {
    background-color: #004997;
    color: #fff;
}

body.join #levels div div.bronze {
    background: linear-gradient(105deg, white, #da9e62);
    border: 1px solid #da9e62;
    background-size: 100% 100%;
    background-position: left center;
    transition: all 0.5s;
    animation: slide-left 1s ease-out backwards;
    animation-delay: 0.2s;
}

body.join #levels div div.bronze:hover {
    background-size: 200% 200%;
    background-position: right center;
}

body.join #levels div div.bronze h3,
body.join #levels div div.bronze button {
    color: #8b4e11;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
}

body.join #levels div div.bronze button:hover {
    background-color: #8b4e11;
    color: #fff;
}

body.join #levels div div.silver {
    background: linear-gradient(105deg, white, silver);
    border: 1px solid silver;
    background-size: 100% 100%;
    background-position: left center;
    transition: all 0.5s;
    animation: slide-right 1s ease-out backwards;
    animation-delay: 0.4s;
}

body.join #levels div div.silver:hover {
    background-size: 200% 200%;
    background-position: right center;
}

body.join #levels div div.silver h3,
body.join #levels div div.silver button {
    color: #4c4c4c;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
}

body.join #levels div div.silver button:hover {
    background-color: #4c4c4c;
    color: #fff;
}

body.join #levels div div.gold {
    background: linear-gradient(105deg, white, burlywood);
    border: 1px solid burlywood;
    background-size: 100% 100%;
    background-position: left center;
    transition: all 0.5s;
    animation: slide-up 1s ease-out backwards;
    animation-delay: 0.6s;
}

body.join #levels div div.gold:hover {
    background-size: 200% 200%;
    background-position: right center;
}

body.join #levels div div.gold h3,
body.join #levels div div.gold button {
    color: rgb(146, 107, 55);
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
}

body.join #levels div div.gold button:hover {
    background-color: rgb(146, 107, 55);
    color: #fff;
}

body.join section#levels div.cards button {
    background: #fff;
    border: none;
    padding: 1rem;
    font-size: 1.15rem;
}

body.join section {
    padding-bottom: 2rem;
}



dialog {
    width: 60%;
    padding: 2rem;
    border: 1px solid #666;
}

dialog h4 {
    margin: 0;
}

dialog button {
    padding: 1rem;
    appearance: none;
    background-color: #eee;
    border: 1px solid #999;
}

dialog button:before {
    content: "❌";
    font-size: 0.8rem;
    line-height: 0.9em;
    margin-right: 0.5rem;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body.discover #cards {
    display: grid;
    gap: 1rem;
}

body.discover #cards section {
    display: grid;
    gap: 0.5rem;
}

body.discover #cards div {
    border: 1px solid #b8d7f2;
    min-width: 240px;
    padding: 0;

    display: grid;
    grid-template-areas:
        "name"
        "photograph"
        "description"
        "address"
        "cta"
    ;
}

.discover div h2 {
    margin: 1rem 0 0.5rem 0;
    padding: 0 1rem;
    line-height: 1em;
    grid-area: name;
}

.discover div address {
    margin: 0.5rem 0 0 0;
    padding: 0 1rem;
    grid-area: address;
}

.discover div p {
    margin: 0.5rem 0 0 0;
    padding: 0 1rem;
    grid-area: description;
}

.discover div button {
    margin: 1rem;
    grid-area: cta;
    padding: 0.5rem 1rem;
    background-color: #0162c9;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
}

.discover div button:hover {
    background-color: #002a57;
}

.discover div figure {
    margin: 0;
    grid-area: photograph;
}

.discover div figure img {
    width: 100%;
    height: auto;
}