:root {
    --primary-color: #5f422c;
    --secondary-color: #C9A86A;
    --background-color: #F8F5F0;
    --text-color: #333333;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--primary-color);
    overflow-wrap: break-word;
}


header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0;
}

header h1 {
    font-weight: 100;
    margin-top: 2rem;
    color: var(--primary-color);
    text-align: center;
}

header img {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    position: relative;
}

button#menu {
    width: 48px;
    height: 48px;
    appearance: none;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    line-height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "Ⓧ";
}

.navigation {
    display: none;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 300;
}

.navigation.open {
    display: flex;
    flex-direction: column;
}

.navigation a {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    font-size: 1.25rem;
    border-bottom: 2px solid var(--secondary-color);
    text-decoration: none;
}

.navigation a:hover,
.navigation a.active {
    color: #fff;
    background-color: var(--primary-color);
}

.hero img {
    width: 100%;
    height: auto;
}

.hero a {
    display: block;
    font-size: 1.25rem;
    appearance: none;
    border: none;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
    float: left;
    margin-top: -5rem;
    margin-left: 1rem;
    text-decoration: none;
    border: 1px solid var(--secondary-color);
    border-radius: 0.25rem;
}

.hero a:hover {
    color: var(--primary-color);
    background-color: var(--background-color);
}

.about,
.events,
.form {
    padding: 2rem;
}

.about h2,
.events h2,
.form h2 {
    color: var(--primary-color);
    font-weight: 200;
    font-size: 2.5rem;
    margin: 0;
}

.about p,
.events p,
.form p {
    font-size: 1.25rem;
    line-height: 1.4em;
}

.events ul {
    font-size: 1.25rem;
    line-height: 1.4em;
    list-style: none;
    padding-left: 0;
    padding-bottom: 1rem;
}

.events ul li {
    font-weight: 800;
}

.events ul li ul li {
    list-style-type: disc;
    margin-left: 1.5rem;
    font-weight: 400;
}

.weather {
    padding: 2rem;
}

.weather h2 {
    color: var(--primary-color);
    font-weight: 200;
    font-size: 2.5rem;
    margin: 0;
}

.weather p,
.weather figcaption {
    font-size: 1.25rem;
    line-height: 1.4em;
}

.weather figure {
    margin-left: 0;
    padding-left: 0;
}

.weather img {
    border: 1px solid var(--secondary-color);
    width: 100px;
}

.weather div h3 {
    color: var(--primary-color);
}

.weather div p {
    margin: 0;
}

footer {
    background-color: var(--primary-color);
    margin: 0;
    padding: 2rem;
    color: var(--background-color);
    font-size: 1.25rem;
}

footer nav a {
    color: var(--background-color);
    margin-right: 1rem;
}

footer nav a:hover {
    color: #fff;
}

footer section {
    font-size: 1rem;
}

form {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1.5rem;
    margin-top: 0.25rem;
}

label,
legend {
    color: var(--primary-color);
    font-size: 1.25rem;
}

legend {
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

fieldset label {
    color: var(--text-color);
    font-size: 1.25rem;
    margin-right: 1rem;
}

input[type=radio] {
    color: var(--text-color);
    margin-right: 0.2rem;
    transform: scale(1.5);
    position: relative;
    top: -2px;
}

input[type=submit] {
    display: block;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    border: 1px solid var(--secondary-color);
}

input[type=submit]:hover {
    color: #fff;
    background-color: var(--text-color);
}

.grid-menu {
    margin-top: 1rem;
}

button img {
    width: 24px;
    display: block;
    margin: 0 auto;
}

button.grid,
button.list {
    display: none;
}

button.grid,
button.list {
    appearance: none;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
    line-height: 2em;
    margin-right: 0.5rem;
}

button.list:hover,
button.grid:hover {
    background-color: #fff;
}

div#events,
div#events.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

div#events div {
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
}

#events div h3 {
    font-size: 1.5rem;
    margin: 0;
}

#events div p {
    margin: 0.25rem 0 0 0;
    font-size: 1.15rem;
}

#events div p:nth-child(2) {
    color: var(--primary-color);
}

#events div p:nth-child(3) {
    color: var(--secondary-color);
}

#events div p:nth-child(4) {
    color: var(--text-color);
    font-size: 1rem;
}

#events div p:nth-child(5) a {
    color: var(--primary-color);
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px solid var(--secondary-color);
}

#events div p:nth-child(5) a:hover {
    color: var(--text-color);
    border-bottom: 1px solid var(--primary-color);
}

.filter-menu {
    margin-top: 1rem;
}

.filter-menu button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.filter-menu button.active {
    background-color: var(--primary-color);
    color: white;
}

.filter-menu button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}